[2020-11-11 15:20] JamesPHoughton opened #1 "Wishlist"
- [ ] log elapsed time in training
- [ ] log number of training attempts
- [ ] log individuals who quit part way through training

- [ ] single URL, keep state across intro, task, and exit steps
- [ ] opportunity for players to say if they want another batch to label
- [ ] open feedback on "thanks" page

- [ ] auto-launch hit and pay workers

Would it be easier to just modify someone else's platfo

[2020-11-12 19:30] markwhiting commented on #1
I think most of those are pretty doable. I don't know of a comparable platform thats so flexible. I mean, you could do some of these things in Qualtrics but it would be a nightmare to program the logic.

Are any of these seeming more problematic or annoying than others?

[2021-01-29 14:34] JamesPHoughton commented on #1
Things to check and see if they will work for our feature set:
- qualtrics programmatic interface
- survey monkey
- google forms
- mturk direct coding

[2021-07-20 21:22] markwhiting opened #2 "Implement basic architecture"
The top level design should be:

- [x] #13
- [x] #5
- [ ] #17
- [x] #20
- [x] **LATER** Secure storage for some amount of responses (e.g., the last month of responses?)

A workflow might consist of:
1. Share a URL publicly or with a worker
2. Get responses from people who look at that URL
3. Download the responses when ready

The advantages of this design is that:

- surveys can be stored at any U

[2021-07-20 21:25] markwhiting commented on #2
@yli12313 @JamesPHoughton @KaranSampath  — thinking about developing this a bit more to gather individual participant data for https://github.com/Watts-Lab/individual-mapping/issues/8. If you have a chance would you take a look at this plan and comment any thoughts on possible improvements or issues that stand out to you?

[2021-07-26 15:18] markwhiting commented on #1
@JamesPHoughton do you have versions of the wishlist features that you implemented that could be added in to the public version here?

[2021-08-03 16:13] markwhiting opened #5 "URL arguments that include encrypted `survey_url`, `verification_key` (which forces a verification wrapper on the survey, e.g., `WorkerId`), as well as arbitrary parameters that can be passed in and appear in the data and perhaps some other options that we think are important e.g., expiry."
Basically we want our url to accept a few arguments that chooses which survey to show. Unencrypted it might look like:

`surveyor.com/raw.githubusercontent.com/Watts-Lab/surveyor/main/surveys/CRT.csv?WorkerId=A123`

So we load the survey form that url and then we add the variable `WorkerId` with the value `A123` to the response we get from that URL (this should deal with arbitrary added variables

[2021-08-03 16:21] markwhiting commented on #5
@KaranSampath can you start working on this?

Basically we want our url to accept a few arguments that chooses which survey to show. Unencrypted it might look like:

`surveyor.com/raw.githubusercontent.com/Watts-Lab/surveyor/main/surveys/CRT.csv?WorkerId=A123`

So we load the survey form that url and then we add the variable `WorkerId` with the value `A123` to the response we get from that URL (th

[2021-08-09 14:15] JamesPHoughton commented on #1
I did have some parts of a training module implemented here: https://glitch.com/edit/#!/media-survey although I don't think my approach was necessarily the best.  Basically you could assign a number of training examples, which needed to be correctly completed before continuing.

The training page would load stimuli and question/correct answers from a spreadsheet:
[code]

There was some client JS t

[2021-08-09 14:20] markwhiting commented on #1
Thanks!

My guess is that we don't need this for the individual-mapping effort but perhaps we will at a later point or if others want to use it.

I think my intuition would be to mark some rows as training, so that it could automatically occur if present and not otherwise.

[2021-08-09 22:25] markwhiting opened #8 "Multi page surveys"
Set up to manage multiple pages, e.g., RME, using something like a page column.

[2021-08-12 19:31] markwhiting commented on #8
- [ ] How do we tell the system about pages? Whats on a new page, whats the order, can you go back?
- [ ] Do you store incrementally at each page? if so, how? (i.e., one row in DB per page, or a local object thats dumped in DB when no more pages come in)
- [ ] Does the back end give all pages at once, or one page at a time?

[2021-08-16 21:55] markwhiting commented on #5
Just adding a few notes after our meeting. Our steps for this are:
- [ ] rig URLs correctly, e.g., `https://surveyor.com/url=raw.githubusercontent.com/Watts-Lab/surveyor/main/surveys/CRT.csv&WorkerId=A123` with a format something like `https://surveyor.com/url={survey url}&[key=value for arbitrary extra variables]`
- [ ] an encryption approach for creating encrypted urls (e.g., encrypt endpoint) a

[2021-08-20 13:18] markwhiting commented on #5
I fixed the vanilla URL approach in #11.

@3hoursofsleep theres a few patterns there that might be useful to observe when creating the encrypted version. Notably, I had to use a `req.query` as opposed to a `req.params` because when using the parameters object I was running into issues where the slashes in the `survey_url` would be interpreted as slashes in the main URL. In any case, doing it with

[2021-08-20 13:49] markwhiting opened #12 "Plan AMT integration"
Allow requests that provide a series of desired surveys and leverage AMT SDK to work out the best set of requests to make to get up to date responses.

For example, if someone wanted CRT, RME, and a novel survey, this might try to target people who have done both RME and CRT to just do the novel survey first. Then, beyond that, it could target individuals who have only done one of those two to do

[2021-08-20 13:51] markwhiting commented on #8
See here for more → https://github.com/Watts-Lab/surveyor/issues/1#issuecomment-895261068

[2021-08-20 13:55] markwhiting commented on #1
A few more thoughts based on ideas motivated in #12.
- [ ] Support for off platform activity URLs, as long as they return valid JSON objects
- [ ] Support for looping
- [ ] Support for direct column requests, e.g., RME, CRT, as opposed to requesting those as surveys.

[2021-08-20 18:39] markwhiting opened #13 "Configure for production"
We need:
- [x] A server with push based deployment, probably EC2.
- [x] Github actions for any relevant deployment, CI, CD etc.
- [x] A static IP from AWS.

@yli12313 can you help us think about how to get these things set up for this. Would be great to be launched by sometime next week.

A few questions we might need to answer are:
1. What do we need to change to be ready for production?
2. Shoul

[2021-08-20 19:41] yli12313 commented on #13
@markwhiting : the server, static IP and database, definitely yes and I can set it up if you give me an idea of the specs. The GitHub Actions I'm new too...I know it's a YAML configuration. Mark, do you want to talk about this sometime Monday?

[2021-08-20 20:30] markwhiting commented on #13
I think we can start with something reasonably light weight. Probably we want to be able to handle about 500 simultaneous requests at max, and I think most configurations should be fine with that.

For DB I don't know how the specs work exactly but I assume we need less than 1GB for now but will get larger than that over time. I think Dynamo scales with size though so that shouldn't be a problem.

[2021-08-20 20:39] yli12313 commented on #13
Ok... good to know. I think I could even do this in real-time during our meeting Monday. Getting an EC2 and RDS provisioned should take really minutes! Let me look for into GitLab Actions and see if there are templates available. Best, Y

[2021-08-20 20:43] markwhiting commented on #13
Thanks. I agree that it should be fast, just want to make sure we don't mess anything up in the configuration.

Here's where I would look → https://docs.github.com/en/actions

[2021-08-23 15:29] markwhiting commented on #13
Short notes from our meeting:

1. probably we don't need the DB stuff yet, lets focus on the server for now.
2. main concerns for now are pushing changes from GitHub to EC2 and having the server relaunch.
3. [PM2](https://www.npmjs.com/package/pm2) might be a good way to do this.

[2021-08-23 17:14] markwhiting commented on #5
Sorry closed this by accident when merging an earlier pr. We still have a few more things to do here, but looks like we're almost done.

[2021-08-23 20:03] markwhiting commented on #5
I think #14 closes this. Remaining stuff, e.g., user DB is more part of a later todo in #2

[2021-08-23 20:03] #5 closed

[2021-08-23 20:08] markwhiting opened #15 "Independent environment able to be triggered to respond with a survey via a public request to a URL (eventually this can be Lambda based)"

[2021-08-23 23:18] markwhiting commented on #13
@yli12313 another option here would be to host this as a lambda function or to otherwise make this server less. I don't have enough insight to understand the full implications that might have on other aspects of the system, and I don't know how it would impact costs, but it might mean that some aspects are more straightforward.

Do you have any thoughts on that?

[2021-08-24 14:44] yli12313 commented on #13
@markwhiting : I would have to do some exploration myself with regard to Lambda functions. I know its cost-effective, but it's sometimes unintuitive to get things working with it. Let me get back to you with what I find.

[2021-08-24 14:53] markwhiting commented on #13
OK!

[2021-08-27 11:34] markwhiting opened #16 "Adding factor loadings and reverse coding into IRQ"
Factor loadings are here → https://link.springer.com/article/10.3758/s13428-020-01354-y/tables/2

I think I would just do this as columns with a name like `IRQ_visual` etc.

Reverse coding is shown with a star in the question text. I think we currently have those stars in the presented text, and they should be removed from there and those questions should be set as reverse. Perhaps its worth doubl

[2021-08-27 11:35] markwhiting opened #17 "URL with authentication for responses at the level of a `survey_url` (all responses for that survey), or some set of queries to choose which responses to return as JSON or CSV."
I think the simplest way to do this would be to just have an end point that is `/results/json`  or `/results/csv`, and then follows the same URL patterns as the survey requests do.

For now I think we should assume the researchers authenticate with a key in the request header. (which we can deal with as a link if we ever need to, and we can deal with as part of the API for programatic access of da

[2021-09-02 15:09] yli12313 commented on #13
Mark to give you an update:

- I got the code onto a server. I created an endpoint and used PM2 that will always start the application whenever the server starts/re-starts.
- I hosted the app so that it's publicly accessible.
- I got the git to push any code changes directly from a local server to the remote server. I believe PM2 will update such changes in real-time when you make a change.

I jus

[2021-09-03 12:21] markwhiting commented on #12
Duncan suggested doing this as a hosted service for now, i.e., we use it for ourselves and run others experiments if they need it, but don't hand out data except in the form of individual level (and anonymous) results. Individual IDs would be some key that we generate.

[2021-09-03 15:20] yli12313 commented on #13
Yingquan got deployments working with GitHub actions on his branch: **test_yl**.

[2021-09-05 20:51] KaranSampath commented on #16
Updated IRQ in #18 . Do we want to update `survey.pug` to read this or does surveyor not care about this?

[2021-09-06 12:50] markwhiting commented on #16
Lets not do anything within surveyor for this for now. There's a few things we could do later if we decide to.

[2021-09-07 02:25] KaranSampath commented on #16
Alright. I think this issue can be closed for now.

[2021-09-07 02:25] #16 closed

[2021-09-07 14:22] markwhiting commented on #8
@KaranSampath can you try to solve this next?

[2021-09-08 14:12] yli12313 commented on #13
I believe the PR needs approval... I think the only thing that could potentially need changing is the fact that the workflow right now is customized to my test branch **test_yl**. It probably needs to be changed to say **main** if being deployed to production... but we can take it slow and just keep it the way it is, and then just change the branch when needed. Going to look @ serverless and try s

[2021-09-09 12:18] markwhiting commented on #13
Great, approved. I'll mark this as closed for now and we can open something around the server less stuff if that look promising.

[2021-09-09 12:18] #13 closed

[2021-09-10 15:47] markwhiting opened #20 "An endpoint for requesting encrypted urls"
Provide a URL and identity keys (the same way as #17 ) and then return an encrypted version of that URL.

[2021-09-15 20:39] markwhiting opened #21 "Add time stamp as basic data in a survey response"
Currently there are some time variables, e.g., StartTime or UpdateTime or something. But we probably want to know something like duration, or a load and submit time for each page.

[2021-09-16 14:34] markwhiting commented on #8
How's this going?

[2021-09-16 14:38] markwhiting commented on #20
@3hoursofsleep — I think this is basically what we were talking about the other day, but just to track it, I converted to an issue.

[2021-09-16 14:45] markwhiting opened #23 "Queries should be able to be added onto an encrypted URL"
If a query is added manually after an encrypted url it should still work fine. However, if the encrypted url already has queries, and the added queries mention the same variable, Surveyor should use the encrypted version.

So, a url like:
`/e/asdlfjasdf/?WorkerId=Mark`
Would work and pass `WorkerId` on to Surveyor.

However, if a url like:
`/s/?URL=google.com& WorkerId =Mark` was encrypted to `/e/

[2021-09-16 14:54] KaranSampath commented on #8
Was focused on task mapping for the past week so haven't done much on this yet. I should have a good idea of how to go about this by tomorrow's meeting.

[2021-09-16 14:56] markwhiting commented on #8
OK. Thats fine, task mapping is more time critical for now.

[2021-09-16 19:23] #21 closed

[2021-09-17 15:37] sumants-dev opened #27 "Migrating Frontend from PUG to ReactJS"
More to come....

[2021-09-17 15:45] sumants-dev opened #28 "DB change from test db to mongo db"
Tutorial for local mongodb install
https://docs.mongodb.com/manual/tutorial/install-mongodb-on-ubuntu/
After a lot of trouble, if you are using Window Subsystem Linux (WSL), https://docs.microsoft.com/en-us/windows/wsl/tutorials/wsl-database use these instructions.

Changed from moongoose as the driver to official mongo driver, which doesn't require schemas, which created a much more cleaner inter

[2021-09-20 18:56] KaranSampath commented on #8
- [ ] User disconnects/closes, we should only save the final survey
- [ ] Add disclaimer saying that 'You cannot come back to this page' at the end of every page
- [ ] Add `.page` column to allow for alphanumeric ordering of pages
- [ ] Allow for randomization of letters/numbers in `.page`
- [ ] Modify RME survey to be multi-page and check which of the other surveys are designed to be single page

[2021-09-21 13:56] markwhiting commented on #28
Cool, thanks.

For **responses**, survey is probably just the url of the survey they did. WorkerID information is optional within the URL call, so we should not have that as a hard coded response variable. Its designed so we can be flexible about the added columns that can be called when a URL is provided, so I think that should either be part of the _survey_response_, or another list.

A key thin

[2021-09-21 14:08] sumants-dev commented on #28
Ok. Cool. Just a note, in mongo, all fields are optional, unless specified to be required.
 I'll remove user, survey.
Given that, I can really simplify the responses schema.

[2021-09-21 14:10] markwhiting commented on #28
OK, cool. Is there any efficiency in different structures in Mongo?

[2021-09-21 14:15] markwhiting commented on #28
One more thing, which may not be useful now but could be good to keep in mind. We currently do some level of validation at the survey, e.g., number fields force number responses, and this is derived from a column in the CSV. Presumably we will have more input fields in the future, and more sophisticated and custom validation approaches. It may at some point make sense to move this from an input th

[2021-09-21 14:23] sumants-dev commented on #28
On the efficiency part, I'm still looking into it, but I'll have more thoughts once I have running code. Just a glimpse into the design decisions for efficiency that I'll make can be found here. https://docs.mongodb.com/manual/core/data-model-design/

 I'll keep the validation in mind. For now, I'll just program mongo to just validate types of everything but survey_responses, and we can leave it o

[2021-09-22 14:58] sumants-dev commented on #28
There is slightly more testing I have to do before submitting a pull request , but this is what the server api looks like.
https://github.com/Watts-Lab/surveyor/tree/mongo. **Most of the logic is in prod_db.ts**

I think for most part it is clean. I got rid of the schemas through using the official mongodb driver for nodejs. I previously used moongoose, but realized this was not ideal use case as

[2021-09-22 18:43] markwhiting commented on #28
Neat, looks good.

A few notes:
1. we are currently only using some simple functions but I think things like `update` (to update an existing entry) might also be useful, perhaps, in general, the main CRUD actions are things we need.
2. is there a good way to use mongo in a test environment, so we could remove nedb completely? Like could we make the difference between prod and test for this just be

[2021-09-22 19:52] sumants-dev commented on #28
1. Yup, I can add update to complete CRUD.
2. I think we can replace neodb. The main barrier is installation. After installation, the starting of mongo is one start command, so it can be easily inputted in package.json. The configuration stuff for test environment, which I am running, is fairly minimal as of the most recent mongo (although I know it is has been bad in the past).

Therefore, I thin

[2021-09-23 21:03] yli12313 commented on #28
@sumants-dev nice, I like what you have. I can certainly add value in anyway that you would like. Thank you, Y

[2021-09-24 12:06] markwhiting commented on #28
Great thanks. Approach 1 does sound simpler over all, and I think with reasonable instructions it will be fine. But do let us know if you realize anything interesting about approach 2.

We have integrated billing at AWS so just wondering, with that server less option are we really paying mongo to set up and run the system? (this might add an extra layer to our billing)

Alternatively, is there an

[2021-09-24 22:04] sumants-dev commented on #28
Looking through the solutions on AWS, a similar one that looks like mongodb is documentdb from AWS. It implements mongodb functionality. Not sure how pricing compares. DocumentDb functionality wise means we don't need to change the code as it implements the mongodriver.

https://aws.amazon.com/pm/documentdb/?trk=ps_a134p000007CAONAA4&trkCampaign=acq_paid_search&sc_channel=PS&sc_campaign=acquisitio

[2021-09-25 01:17] markwhiting commented on #28
Cool. That seems like a good alternative for us. I think the costs will be reasonably low (most of these things are pay per use at AWS), and being under one billing umbrella is very useful.

It might be nice to estimate our costs for the `individual-mapping` workload, e.g., ~30,000 participants, ~10 surveys each, for writes, and probably around 1 read per day?

@yli12313 can you set @sumants-dev u

[2021-09-25 03:06] yli12313 commented on #28
Ok. @sumants-dev: I'll follow up with you separately about this.

[2021-09-27 16:06] markwhiting commented on #8
Check in. When do you think this can be completed?

[2021-09-27 16:08] markwhiting commented on #20
Checkin in — when do you think this and #17  can be completed?

[2021-09-28 13:40] KaranSampath commented on #8
Sorry, was under the weather with COVID-like symptoms. Surveys have been modified, and am working on modifying VSCode now. Will ensure it is done by tomorrow.

[2021-09-28 18:36] markwhiting opened #31 "Set up testing via actions"
I think we're open minded as to what is tested for now, but perhaps just basic functions and we can think through a more detailed approach as it develops.

[2021-09-30 16:19] #27 closed

[2021-09-30 16:19] sumants-dev commented on #27
Not pressing

[2021-10-06 14:12] #28 closed

[2021-10-06 17:41] markwhiting commented on #28
Perhaps make a new issue for that? Why do we need it? So we can manipulate through a GUI editor?

[2021-10-15 02:34] sumants-dev opened #32 "Redirect Users to MTurk Link"
Create a general way to redirect users based on alias to link.

[2021-10-18 13:33] #32 closed, assigned to sumants-dev

[2021-11-01 10:20] KaranSampath commented on #8
Having been working on this in #40

[2021-11-05 20:32] markwhiting commented on #8
Just checking in, is this basically done?

[2021-11-05 21:05] sumants-dev commented on #8
@KaranSampath if you need help and blocked, we can set up a time to go through it next week

[2021-11-16 17:37] sumants-dev opened #41 "Authentication and Authorizations"
Before we start testing with real users, this functionality needs to be in as without they might be able to access endpoints that we don't want them too.

[2021-11-18 17:21] #41 closed

[2021-11-19 02:56] #8 closed

[2021-11-23 18:52] markwhiting opened #44 "Add in answer column where suitable in surveys"
@KaranSampath I thought you might have done this for CRT and others but I don't see it in the GitHub history. Did you ever commit it?

Either way, could you work on that when you have a chance.

[2021-11-23 20:34] #20 closed

[2021-11-23 20:34] #23 closed

[2021-11-23 21:29] sumants-dev opened #45 "Survey REI Is Not Working"
https://surveyor.seas.upenn.edu/s/?url=https://raw.githubusercontent.com/Watts-Lab/surveyor/main/surveys/REI.csv is bugging out in my test run. It seems to be a csv problem.

[code]

[2021-11-23 21:36] sumants-dev commented on #45
@markwhiting Some coding columns are empty. What would the resolution be here?

[2021-11-23 22:03] markwhiting commented on #45
It looks like there's a missing ',' at the end of line 2 in the csv.

I'm on a train now, so feel free to add it in and commit.

[2021-11-23 22:10] #45 closed

[2021-11-24 20:32] markwhiting opened #48 "Other answer type"
Sometimes we need text along with other answer types, I'd like to develop a good way to indicate that in the survey CSV and then render it consistently.

It should work for checkbox and radio style responses (`&`  and `|` separated lists in `response`). Perhaps with a way to denote that its this kind of entry like: `Yes | No | Other: .*`

I think it should have a word associated with it, e.g., "Ot

[2021-11-24 20:32] #44 closed

[2021-11-24 20:38] markwhiting opened #49 "`numeric` → `number` in `response` type"
Should be fixed in the `survey.pug`, but also in surveys that have already been added.

Why?
"Numeric" is the data type, but "number" is the html input type, which I think will make more sense to most people.

[2021-11-24 20:43] markwhiting opened #50 "Add a CSV specification with an example to the README"
Address, what each column does and which ones are optional. Also provide an example and perhaps link to the survey folder. See the [individual mapping README](https://github.com/Watts-Lab/individual-mapping#donating-a-new-dataset) as a possible example.

[2021-11-24 20:51] markwhiting opened #51 "Add `date` answer type"
This should be reasonably ok using the built in html input type of date, but we need to double check that it's working as a reasonable input across browsers and on phone platforms.

[2021-11-25 15:09] markwhiting commented on #50
Should this be closed?

[2021-11-26 15:08] markwhiting opened #53 "Add in check for required columns in CSVs"
Now, if theres a row in the CSV with missing columns out of the required ones we get some strange behavior. For example it makes other things later in the survey an open multi select item because of the way the conditions are set in `survey.pug`. I think we should fix this so that lines in the CSV are skipped if theres an issue with them.

[2021-11-26 15:11] markwhiting opened #54 "Clean up question display"
Right now questions have a list indicator and a number (example image below). They should only have a number.

<img width="375" alt="Screen Shot 2021-11-26 at 10 09 14" src="https://user-images.githubusercontent.com/673171/143600682-3e01b72a-7ae0-47d5-b8be-c5fe312787f3.png">

This probably requires adding a style to remove the list indicator, and then adding that style to question items.

[2021-11-26 18:23] TutiGomoka opened #56 "Forced/Required Response Feature"
(This is a feature that we may not require at the moment as we run our own surveys. But we may need it once we start running other people's surveys) But:

- Implement a feature where we can choose to either force a respondent to respond to a question or leave it as optional
1. Question on what the system should do if a respondent hasn't answered a 'forced response' question? Just prevent from subm

[2021-11-26 18:51] markwhiting commented on #56
Required is already implemented for all questions by default as a server level setting.

What I think would be useful here is something like an optional column in CSVs called `required` that defaults to the server value when blank, but can take values of `true` or `false` to select if a field is required or not.

[2021-11-26 20:30] #54 closed

[2021-11-26 20:33] markwhiting opened #57 "Improve robustness of CSV import"
Right now CSVs with unusual formatting can cause problems. As an example look at the history on `demographics.csv` where an export from Excel caused line endings and special characters, e.g., `...` or `'` to break rendering.

If we take default encoding in VS Code it seems to work fine, but we can't guarantee everyone will use good encoding. So the question is, can we add some kind of steps to the

[2021-11-27 15:04] sumants-dev opened #58 "Rethinking Git Workflow"
We are going live this Monday. So with production code that continuously integrated, it creates a dilemma that a not well tested code, but a reasonable looking one, can kill production server, and make people unable to take surveys, or a bad merge of good code can make the service unusable.

Currently, we are using number 2. Git Feature Branch Workflow in the following article.
https://zepel.io/bl

[2021-11-27 20:20] markwhiting commented on #58
Sure. I'm fine with 3, however, I'd usually do it as everyone PRs to main then we have a prod branch that requires extra testing etc, but that's just because of what I've used in the past, and because I think it makes most PRing simpler (people don't need to know details of the prod cycle and will probably default to PRing onto the right branch). That said, I'm happy to go with any option here.

[2021-11-28 00:39] markwhiting commented on #50
@sumants-dev — just checking, was this closed by mistake?

[2021-11-28 00:43] sumants-dev commented on #50
Yes

[2021-11-28 00:47] sumants-dev commented on #58
I like that. Let's have prod branch that gets deployed.

[2021-11-28 00:52] markwhiting commented on #58
Sounds good. I've set you up with privileges to make any adjustments around commit rules etc.

[2021-11-28 16:31] #58 closed

[2021-11-30 14:46] markwhiting opened #60 "Public survey takers should not see results when they submit"
The functionality of showing results after submission was for debugging. This should not be shown publicly.

Instead why don't we show something like:

Ultimately, I guess we want surveyor to have customizable `thanks` messages so we could pipe something like "We will bonus you soon" etc.

(this is reflecting the recent email where someone saw their age record in a closing survey)

[2021-11-30 15:37] #60 closed

[2021-11-30 15:48] sumants-dev opened #63 "Create More Robust Submission Message That Are Pipeable"

[2021-11-30 16:11] markwhiting commented on #63
Related to a comment in #60

[2021-12-04 03:09] KaranSampath commented on #51
Have added in but would probably need to be double-checked on the worker side.

[2021-12-10 05:26] KaranSampath commented on #57
I think this will need some regex work. Should this be handled on the server-side (when first importing the survey) or in `survey.pug` when parsing through each line? One would be more efficient while the other allows for more line-by-line checks.

[2021-12-12 23:40] markwhiting commented on #57
I think probably it should be a validation function on the server that just validates that everything is ok for a given csv.

[2021-12-13 08:39] KaranSampath commented on #56
I think we would need to reconcile this with the overall `required` check that we already have in place. i.e. Do we want both overall and individual required variables? If not, how would we indicate survey-wide required characteristics (is it useful to have any disclaimer if no questions are required?). I've modified the code to include my interpretation of this, but let me know if it needs change

[2021-12-13 13:55] markwhiting commented on #56
Can you summarize your policy?

I’d just assume required is on by default for everything and then some things are optional if there’s a column that expresses that.

[2021-12-20 06:42] KaranSampath commented on #56
Yes exactly, so each question is required unless specified (will take on that value in that case (i.e. either true or false)).

[2021-12-28 00:18] sumants-dev opened #69 "Creating Challenge Surveys"
Challenge surveys are served before starting the survey. These challenge surveys are stored in data bank and passed as a url in link generation.
Captcha will be enabled only if a param is passed if a flag in link generation

[2021-12-29 17:47] markwhiting commented on #69
Sounds good, could be after too.

[2021-12-29 18:12] KaranSampath commented on #53
Just wanted to clarify, do you mean a missing column for the entire CSV here, or if something is wrong with an individual entry for a required column? Have added checks for the former, but not for the latter (would need more clarity on what all checks we want then)

[2021-12-29 18:16] markwhiting commented on #53
I think the former is ok for now.

[2022-01-03 00:28] sumants-dev opened #70 "Refactoring, Reformatting, and Documentation"
Reducing some technical debt.

1. Reformatting Standard (Prettier)
2. Refactoring (consolidate complex logic into functions, camel case to snake case)
3. Documentation (Adding docstrings to routes at least, maybe an open api standard)

[2022-01-13 13:38] #69 closed

[2022-01-22 22:53] #49 closed

[2022-01-22 22:53] #50 closed

[2022-01-22 22:53] #51 closed

[2022-01-22 22:53] #53 closed

[2022-01-22 22:53] #56 closed

[2022-01-23 17:03] sumants-dev opened #74 "Checking wrong collection for admin creation"
[code]

[2022-01-24 18:27] KaranSampath commented on #57
Standardize CSV formatting (seeing what the import CSV currently does), check libraries and behaviors. See what the docs don't check, and ensure that those are checked (eg: are the answers valid answer types)

[2022-01-24 18:29] KaranSampath commented on #48
Show the text field, allowing it to be clicked only when it is finished, and text field required attributes are derived from that of the question

[2022-01-24 18:29] KaranSampath commented on #63
Could be a url argument (for it to be really customizable) but will need to be explored. Could have a set of defaults as well

[2022-01-24 20:54] sumants-dev commented on #63
Yeah, it should have set default of "Thank you for completing our Survey!", I think for now you can safely assume the pipeable end of surveys should be just plain text.

For anything else more complicated, we will incorporate it into link generation service.

[2022-01-24 20:57] #74 closed

[2022-01-27 18:51] markwhiting opened #79 "Challenge survey selection behavior (brainstorming)"
Following https://github.com/Watts-Lab/surveyor/issues/69 we can put a survey before or after to ask challenge questions. In talking with @TutiGomoka we realized a few points:

1. we might want to have more than one type of challenge question at a time, e.g., "are you a robot" + "are you paying attention" + "are you willing to work hard" etc.
2. this grouping will likely mirror the types of questi

[2022-01-27 18:56] markwhiting opened #80 "Add `sub_type` to the README notes on how to use it similar to the other columns"
https://github.com/Watts-Lab/surveyor/blob/c0d9093ea7035c97b25333e9045d1c6b4fe464d5/README.md?plain=1#L40

[2022-01-31 21:26] sumants-dev opened #84 "Add Rate Limiter To Exposed Datapoints"
Tracking issue for:
- [ ] https://github.com/Watts-Lab/surveyor/security/code-scanning/12

[2022-02-03 15:55] sumants-dev opened #85 "Redesign Survey Rendering Logic"
We kind need to rethink the survey rendering. It was initially designed without the use of cookies, so it does some convoluted stuff as it was supposed to be stateless, but now I believe we can simplify it as we can keep the state of the user. Putting this on the radar.

[2022-02-03 15:56] markwhiting commented on #85
Would this coincide well with switching to something like react?

[2022-02-03 16:34] sumants-dev opened #87 "Performance Issues With Concurrent Users On Surveys"
In my testing, the number of concurrent user that can be supported seems to be far less than previously. You seemingly can open many sessions of the surveyor.seas.upenn.edu home page, but anything dealing with a stateful survey can only support around 5 users. This is likely due to cookie storage being in memory. By default, express uses in-memory cookies, but this isn't great practice, so the sol

[2022-02-03 16:35] sumants-dev commented on #87
I'll give an update soon if that fixes it.

[2022-02-03 17:47] markwhiting commented on #57
@KaranSampath how's this going? We seem to be running into issues a lot (e.g., see the two mentions above)

[2022-02-03 17:51] sumants-dev commented on #87
@markwhiting
#87 was actually not a real issue. It was a csv missing a space. Regardless, I think we should use database store with sessions. I tested it on the server, and it seem functional and surveys seemed snappier.

I'm happy to not merge this fix.

[2022-02-03 18:11] sumants-dev commented on #85
Maybe, I think we are at point where we have v1 (lmk if you disagree), where we can start taking in responses in the prod branch. If we want a new frontend framework (given we are happy for the current version to be live and receive regular surveys), we can switch to a more traditional framework while v1 is live.

[2022-02-03 19:38] TutiGomoka opened #89 "Mid-Survey Challenge Question"
Enable our ability to add a challenge question mid-survey

[2022-02-03 19:42] markwhiting commented on #89
Do we need this? Is there something wrong with where they are now?

[2022-02-03 19:44] TutiGomoka commented on #89
Just in the future. As in the current structuring we have now is v1. We said we would try doing this in the future. So this is an *in the future* issue that I created with @sumants-dev

[2022-02-09 15:11] markwhiting opened #90 "Double check spelling in surveys"
I just found a spelling error in the demographics survey which will cause some issues in data import. https://github.com/Watts-Lab/surveyor/commit/76db62d7310b7023aae712517116e9e6a669c060

@KaranSampath or @TutiGomoka — could you double check the spelling across all the survey instruments and challenges.

[2022-03-16 13:04] sumants-dev opened #96 "Bug: Not Recording Responses on demographics_ircs_challenge survey"
The bug is fixed now. The error was that we switch from using session id to survey session id. This was updated only for survey routes but not in validation routes. Fortunately, we did a trial run of 20 people to make sure everything was working correctly before scaling, so we caught this before real run.

These are the following steps to mitigate such error in the future in order of priority.
1.

[2022-03-24 15:51] TutiGomoka opened #98 "Timestamps per question/stage of survey"
Right now we have `start_time` and `end_time`. Perhaps in the future it would be good @sumants-dev to have timestamps on when people finished certain middle questions. Ideally, instead of this being multiple variables, we can have one variable that is a list with different durations of each question` i.e. {25seconds, 30seconds... }} or {11:48, 11:49, .....}`

[2022-03-24 15:56] markwhiting commented on #98
Just noting that I'm not really sure what the best model is for this, e.g., a list of times, or a column of times for each response, or something else, and happy to think about that a bit as part of this issue.

[2022-04-04 14:22] #70 closed

[2022-04-12 16:13] markwhiting opened #101 "Reduce worker surprise around no workerID input"
A major step here would be to have a page at the start or end of each survey that has a worker ID shown that asks for them to confirm, or for them to acknowledge that a particular worker ID will be used for payment, something like the following could appear on the first page, with a "Next page" button at the bottom:

And then perhaps on the thanks page again with something like:

These should only

[2022-04-12 16:14] markwhiting commented on #101
@sumants-dev can you take a look at this before the next wave.

[2022-04-21 12:05] #96 closed

[2022-04-21 12:05] #87 closed

[2022-04-23 01:57] markwhiting commented on #101
Great — thanks

[2022-04-23 02:00] markwhiting opened #102 "Adding an option for automatic bonuses right after a survey is completed"
I think bouncing workers as soon as they are done would simplify our email process, it would also help workers trust us.

One way we could think about this is that this could be a special, escalated option, that requires something like the payment verification we use now, it would just be verified at the time of the link generation as opposed to at a later payment time.

I don't think we need this

[2022-05-05 22:10] #101 closed

[2022-05-05 22:11] sumants-dev opened #106 "Required not working with checkboxes"
Required checkbox is not working.

[2022-05-06 18:18] sumants-dev commented on #106
@markwhiting @TutiGomoka
The problem here is that making all checkbox required, means that all the checkboxes need to be clicked. So, some js script has to be written for this element. I likely don't have time to complete this before Monday, since I have to priortize writing more documentation.

[code]

[2022-05-07 03:50] TutiGomoka commented on #106
@markwhiting; what do you think?

[2022-05-07 04:04] markwhiting commented on #106
Checkbox requirement is a bit tricky (even things like Qualtrics don't do a great job for it). I think I would just leave it off and assume that some people might enter no value for those questions.

Let's leave this open as wishlist but not worry about it for now?

[2022-05-07 19:19] TutiGomoka commented on #106
OK; but don't you think it's costly that are collecting Demographics surveys for all these people yet within each survey we collect, one variable 'doesn't work'?  Also think about this in terms of the kind of research people might want to use the panel for e.g. political questions in PennMap where demographics variables are kinda important?
And so how will we rectify this in the future? Re-sent de

[2022-05-07 19:59] sumants-dev commented on #106
Don't make it a checkbox and change it to radio button so only one option works. And put an option called two or more races

[2022-05-08 00:06] TutiGomoka commented on #106
Mmh... I'm sort of thinking we can have a 2 questions on race/ 2 part question on race. First question asks what race they identify as and then the second one asks any additional race to the one above that they identify with. I think for the time being this will help us better collect information on this variable which is a kind of important for some of research done at this Lab.

[2022-05-09 04:12] TutiGomoka commented on #106
Done! Just made the change. See it [here](https://github.com/Watts-Lab/surveyor/compare/6ef0df605945...cb8f3e7e6192). If someone identifies as more than 2 races; we are just going to have to add that functionality later.

[2022-05-09 04:45] markwhiting commented on #106
I don't think this is a great solution because it also imposes a limit. Many people who identify with more than one race, also identify with more than two.

I think either using the other input or a required radio with an option like "more than one race" and a non required text field to allow people to enter information about the races they identify with is stronger.

[2022-05-09 04:55] TutiGomoka commented on #106
I've personally never met someone who identifies as more than 2 races. I find it even remarkable (though very much good + needed) that we are allowing multiple options in a survey like this. Most US surveys I've filled out don't.

Do we have the option of  implementing an 'Other _______' option? If so, great.

My key issue here is I don't want to give people the option of just selecting an "other"

[2022-05-09 05:03] markwhiting commented on #106
@KaranSampath — is other ready? (#48) It looks like we will need it soon.

@TutiGomoka for the time being, let's hold just the single race option we previously had to avoid getting inconsistent data around this until we can transition to something that can be a long term solution. I agree with it's importance.

[2022-05-09 05:15] TutiGomoka commented on #106
So we previously had a multi-race option - which is what was causing the `NULL` problem. Should I now change it to radio/single race option with the same array of options?

[2022-05-09 05:19] markwhiting commented on #106
Was it always `NULL` or only if someone didn't select anything? If the latter (i.e., some `NULL` and some not), what portion of `NULL` was it? (i.e., `people who didn't answer that question / all the people who answered another required question in the same instrument`)

[2022-05-09 05:33] TutiGomoka commented on #106
See [here](https://github.com/Watts-Lab/individual-mapping/issues/105#issuecomment-1119077795)/ the csv file below. There are many instances of people answering all the other questions (all of which were required) in the Demographics Survey but only their race response appears as `NULL` to us.
[demographics_test_20.csv](https://github.com/Watts-Lab/surveyor/files/8648987/demographics_test_20.csv)

[2022-05-09 05:40] TutiGomoka commented on #106
So I was thinking they answered the race question; but there is a bug concerning the multi-tick option on our end - and so we see it as `null` and Sumant seemed to confirm that.

[2022-05-09 12:51] markwhiting commented on #106
OK, just to make sure I understand,

1. Why or how are there NA's on that sheet on other questions?
2. Is the bug with the checkbox question just that it wasn't required or is it more specific, e.g., data from that question wasn't being recorded even if they did respond?
3. If the issue is about not responding, i.e., some people didn't respond and their data appears null, for what portion of respo

[2022-05-09 12:59] sumants-dev commented on #106
On 2, required options for checkboxes are non-functional, so by default all
checkboxes are skippable. Therefore, if a person does indeed respond, then
it will be recorded, but if it is skipped, then it will appear as null.

On Mon, May 9, 2022 at 8:51 AM Mark Whiting ***@***.***>
wrote:

[2022-05-09 13:15] markwhiting commented on #106
Thanks. Good to know.

[2022-05-09 14:09] TutiGomoka commented on #106
Mark;

The sheet I sent was for select IRCS and Demographics variables for an observation queried from the surveyor responses. If it's NAs for the other responses it means they weren't doing that other survey. i.e. responses that are not NA for `income`; `marital status`; will not have a response for `different_problem_advice` because that's an IRCS variable. What I looked for was that people who

[2022-05-09 14:27] markwhiting commented on #106
I'm just wondering what the percentage is overall so I can get a sense for the scale of the problem. Like out of all our data collected, how often is this happening.

It would also be interesting to know how often people are registering different combinations of race in their response.

Could you share a table that looks at people who have responded to this demographics survey (not people from who

[2022-05-09 14:28] TutiGomoka commented on #106
<img width="1440" alt="Screen Shot 2022-05-09 at 10 27 43 AM" src="https://user-images.githubusercontent.com/35717402/167431948-14b996de-f44f-4a6c-b2e1-d79c78817538.png">

This is what it looks like when I do:
[code]

[2022-05-09 14:32] TutiGomoka commented on #106
But this is what it looks like for people who we just sent demographics surveys to people in the test of 20 people.

<img width="1440" alt="Screen Shot 2022-05-09 at 10 31 35 AM" src="https://user-images.githubusercontent.com/35717402/167432740-c24b2156-9b82-40d1-85f8-4e6e1a907fba.png">

[2022-05-09 14:48] TutiGomoka commented on #106
So let me know:

It's probably a good idea to make the basis of completion of our demographics survey a bit broader?

[2022-05-09 14:51] markwhiting commented on #106
Yeah, sounds good! Perhaps check for a few of the questions that are known required.

Also, it looks like some of these people input birth year incorrectly. Perhaps thats another thing for us to make an issue for (i.e., so they can't submit surveys that have impossible birth years).

[2022-05-09 14:55] TutiGomoka commented on #106
But then don't you like the idea of forcing people to answer our questions haha. We eventually got a complete survey from them. It just took two tries.
But I will make it so that if more than x number of questions are answered then demographics is complete.

I think we might have a problem with that birth_year question. @sumants-dev; can we require that the response in that box be both numeric and

[2022-05-09 15:07] markwhiting opened #107 "Review required features"
Required is quite simple now and has some failure modes as a consequence. For example checkboxes can't have required because they are seen as independent inputs (so all are required) e.g., #106, and we have no way to enter nuanced validations such as a number between 1 and 10.

This requires us to make a plan around how to deal with some popular and edge cases for required, and at least the follow

[2022-05-09 15:10] markwhiting commented on #106
Yep that seems fine, but let's still pay them if they don't fill it out. If people really don't want to answer, thats ok haha.

No, I mean as a more general technical solution. Putting text can also help in the mean time. I just made an issue for the more general problem here → #107

[2022-05-09 16:20] TutiGomoka commented on #106
OK -
So I guess now that we have decided on this checkbox problem, we can move forward with fifth wave?

[2022-05-09 16:38] markwhiting commented on #106
Yep! I think this can be closed if all is set up.

Did we need to adjust the survey back?

[2022-05-09 16:55] TutiGomoka commented on #106
Yup. Changed it back!

[2022-05-09 16:55] #106 closed

[2022-05-20 18:47] karansampath commented on #63
Closing for now (not needed)

[2022-05-20 18:47] #63 closed

[2022-05-20 18:49] karansampath commented on #57
Not complete as of now, but on hold until needed

[2022-05-20 18:49] #57 closed

[2022-05-23 17:03] rivera-lanasm opened #108 "AWS MTurk Survey Site Load Issue"
**Issue Description**

- May 23rd, 2022, 1500 people were sent 3 surveys. Soon after, survey respondants complained of app server downtime/unresponsive pages.
- The associatedDocumentDB still logged their responses
- Based on @sumants-dev 's initial analysis, it appears the problem was with DocumentDB in that it couldn’t handle so many survey results connections at once (1500*3)

**Possible Soluti

[2022-05-23 17:18] TutiGomoka commented on #108
Based on initial discussions it looks like the `Rate Management` might be a solution to start with. But ideally we need to space requests out across an hour or more - not just a few minutes

Question: How many requests can it currently handle?

[2022-06-08 21:39] markwhiting opened #109 "Visual style on large and small screens is sometimes incorrect or inconsistent"
We should have a max width and correct media targets to deal with large and small screens. All input types, and in particular, image stimuli (e.g., in the RME survey) should work with this.

Most edits for this should be in the main CSS, though there might be a little work in the `survey.pug` file.

## This is ready to merge when

- [ ] The basic surveys work across all scales from phone to large

[2022-06-08 21:39] markwhiting commented on #109
@TutiGomoka could you upload the example you showed of this happening in RME?

[2022-06-14 15:13] rivera-lanasm opened #110 "Surveyor: Default Access Credentials for AWS"
@TutiGomoka noticed an issue in the running of the "attendance survey" Github Action related to the MTurk Surveyor framework

- from the error messages, we believe this issue has to do with expired or otherwise non functioning AWS Credentials

- In the Surveyor repository, the AWS credentials were set explicitly in as encrypted secrets ("AWS_ACCESS_KEY_ID", "AWS_SECRET_ACCESS_KEY")...if these are

[2022-06-14 15:17] markwhiting commented on #110
Just as a quick check, can we see if any keys that @sumants-dev was using have been expired?

And either way, we should easily be able to create a new set and try them out, right?

Why I mention this is that I wonder if the problem is something else, and if so, the key aspect shouldn't hold us up too much, right?

[2022-06-14 15:30] rivera-lanasm commented on #110
Yes, there is an active credential under @sumants-dev: https://us-east-1.console.aws.amazon.com/iam/home#/users/sumants?section=security_credentials. The credentials is not expired though. However, I can't verify that these are the same keys that are used in the Github actions since the credentials used are stored as Github Secrets, which Github does not allow you to access once set.

Yup, I'm goi

[2022-06-14 15:49] markwhiting commented on #110
BTW, I'm fine with you creating new ones for the resource and putting those there too! Thank you!

[2022-06-14 18:18] rivera-lanasm commented on #110
I tested some new credentials from the sumants IAM user and they work as expected.
- I'll update the default AWS Credentials in the Surveyor repo, and we can test the "attendance survey"

[2022-06-14 18:19] markwhiting commented on #110
Great, thanks!

[2022-06-14 18:47] rivera-lanasm commented on #110
Looks like we're good to go. I replaced the AWS credentials cited in the Github action YML file, and @TutiGomoka and I just tested the jobs we needed to run.
- https://github.com/Watts-Lab/surveyor/blob/main/.github/workflows/deploy.yml

I'll follow up with a few more thoughts here

[2022-06-25 23:35] markwhiting opened #111 "We are leaking challenge page status in the URL"
Challenge survey URLs at least sometimes show that they are challenges, which is not great, because workers may attend to them more if they think we are trying to trick them or check if they are paying attention.

Here's an example:

<img width="1187" alt="Screen Shot 2022-06-25 at 19 29 13" src="https://user-images.githubusercontent.com/673171/175793483-cfdd17df-5a6e-43bd-abf8-32353376d3d9.png">

[2022-06-27 01:06] TutiGomoka commented on #108
Pasting Email from Sumant:

Here he references
a)  database connection limit

Also: There was a discussion [on our slack page](https://wattslab-workspace.slack.com/archives/C02UT2ZL15K/p1653320310252699) about adding 'instances'. Not sure how that's different from 'database connection limit'. But that's something we can explore at our meeting tomorrow.
@rivera-lanasm can you comment on this?

[2022-08-09 02:30] markwhiting commented on #2
Marking this as complete because I think we are pretty solid architecturally, even though we adjusted away from some aspects of this design.

[2022-08-09 02:30] #2 closed

[2022-08-09 02:31] markwhiting commented on #12
Closing because although we aren't implementing these ideas completely, we have internalized them.

[2022-08-09 02:31] #12 closed

[2022-08-09 02:32] #17 closed

[2022-08-09 02:39] markwhiting commented on #48
@karansampath Is this ready to be closed? (sorry for the delay, I know we talked about it a little while ago, but not sure what the conclusion was)

[2022-08-09 02:40] markwhiting commented on #79
Closing because we seem to have settled for now.

[2022-08-09 02:40] #79 closed

[2022-08-09 02:41] markwhiting commented on #80
@TutiGomoka can you take a look at this when you have a chance. It should be quite quick.

I guess a good thing to do at that point would be to check if there are any other good README updates we can incorporate.

[2022-08-09 02:44] markwhiting commented on #89
Marking complete because I think we have a solid solution for now, and other changes to rendering (e.g., #85) will eventually change our options here.

[2022-08-09 02:44] #89 closed

[2022-08-09 02:44] markwhiting commented on #90
I think we have done this a few times now, so marking complete.

[2022-08-09 02:44] #90 closed

[2022-08-09 02:47] markwhiting commented on #108
@rivera-lanasm — I think we are done with this, right? Can it be closed?

[2022-08-09 07:59] karansampath commented on #48
@markwhiting the PR still needs to be looked at the other radio buttons act like checkboxes and the textbox still doesn’t show up), I was unsure how to fix the bugs.

[2022-08-09 15:03] TutiGomoka opened #112 "Change ZipCode Input Box for Demographics.csv"
Since we are allowing people from many countries in the world to fill out our surveys, can we adjust the zip code box of the demographics survey to be a format that takes American zip code numbers as well as other country's postal code systems?

[2022-08-09 15:18] TutiGomoka commented on #112
But wouldn't text response limit to just characters?

[2022-08-09 15:19] markwhiting commented on #112
No.

[2022-08-09 15:20] TutiGomoka commented on #112
OK; Let me try that;

[2022-08-09 15:33] TutiGomoka commented on #112
Just tested with a link I created for myself; It works with letters now. Will email the worker who emailed with a new link.
<img width="1440" alt="Screen Shot 2022-08-09 at 11 32 15 AM" src="https://user-images.githubusercontent.com/35717402/183694298-b301a74c-f624-468c-b204-5274e987ba0a.png">
<img width="1440" alt="Screen Shot 2022-08-09 at 11 32 03 AM" src="https://user-images.githubusercontent.

[2022-08-09 15:33] #112 closed

[2022-08-09 15:35] TutiGomoka commented on #112
Adding another random link with workers 'mark' incase we ever want to test again https://surveyor.seas.upenn.edu/sa/mwxuaqVV9wvEIQ

[2022-08-09 15:40] markwhiting commented on #112
Great!

[2022-08-09 15:49] markwhiting commented on #48
Got it, thanks.

[2022-08-09 17:25] TutiGomoka opened #113 "Surveyor sometimes displays wrong Worker ID on thank you page"
We've received emails from several workers about this so far. The wrong Worker ID is displayed on thank you page.
Thankfully this hasn't affected our data/payments so far. i.e. the data is recorded to same person we notified.
But this may be worth looking into

<img width="1440" alt="Screen Shot 2022-08-09 at 1 24 45 PM" src="https://user-images.githubusercontent.com/35717402/183717995-89fdb089-01

[2022-08-09 17:32] markwhiting commented on #113
Is there any sign of an inconsistency in the data? e.g., do we have responses from the user we think they were, do we have a response from the correct user? Are the dates and times accurate?

(also, screenshots like this can leak a lot of information sometimes (this is a public repo), it might be safer to just explain the problem or paste a snippet of text)

[2022-08-09 18:20] TutiGomoka commented on #113
Yes; good point on screen grab; I changed that and deleted the history revision for it.

Re: the issue, no, I don't see any inconsistency in data. As an example, in today's particular case with Jon:
I have data for a A14GMP7NT3QB13 which is the correct ID, who we notified (I see this in the quoted email).
I don't have any data for the wrong ID he stated seeing on the final page.

I can't tell accu

[2022-08-09 18:29] markwhiting commented on #113
OK. Do we have any data bout the other user? Like do we know when each one was notified and last provided a result?

[2022-08-09 18:37] TutiGomoka commented on #113
A14GMP7NT3QB13 is Jon was notified today and we got their response today.

For the wrong ID A11YY75YZQW908; As of now, I don't see a person with that ID when I make a call to our surveyor responses

[2022-08-09 18:39] markwhiting commented on #113
OK, interesting. What a strange problem.

[2022-09-02 15:17] markwhiting opened #114 "On-platform architecture"
This is a plan that spans a few repositories, but let's sketch it out here.

At a high level, so far we have been trying to do most of our Surveyor activity on our own platform and not use Turk, however this leads to a few issues:
1. people are not used to it (and complain to us, but more importantly, they complain to Turk, who don't want us to do this and today threatened to block our account)
2.

[2022-09-09 15:09] rivera-lanasm commented on #114
Hey Mark, this looks great, sorry for the delay replying here!

some thoughts:
- for the "Add an output format for Surveyor" and other four check box steps, I can fork the Surveyor repo and start there, and create issues for each of the steps. Could we set up some time to walk through the components of that codebase and conceptually map how we'd like to organize it for this plan? It sounds like a

[2022-09-09 16:45] markwhiting commented on #114
Great.

I agree that this will probably end up as more than one repo, but where it overlaps with stuff we are already doing I’d rather we aim to consolidate if possible. Or at least, have a good argument why something should be a new thing. In any case, I do think starting to map these issues out in more detail would be great.

I am also talking to a group who builds tools for running large turk p

[2022-09-14 18:48] rivera-lanasm commented on #114
**Meeting on Sept 15th: CloudResearch**
    -  accounting for multiple AWS & Turk accounts
    - would necessitate surveys on Q
    - helps with 1) managing hits traffic 2) tracking workers 3) payments 4)
    - **questions:**
         - can they help with AWS/MTurk accounts
             - accounting/cost attribution
             - account reputation management (making sure workers and AWS are happ

[2022-09-15 19:26] markwhiting opened #115 "Serve surveys without too much infrastructure"
It seems like being independent of Surveyor in general is probably valuable, but that having a good way to do on-platform surveys is critical, so, a general proposal here might be that we can use survey.js surveys adhering to a format like these https://github.com/Watts-Lab/surveys/tree/main/src/surveys, and then render those on turk (with or without [Crowd Elements](https://docs.aws.amazon.com/AW

[2022-09-15 19:33] markwhiting opened #116 "Control access to surveys automatically"
Assuming we put surveys on Turk, we can have precision access management with qualifications. For example we can let any worker see a panel intro HIT, and then qualify them so next time they look they see the survey HIT we need them to complete.

My understanding is that qualifications can be somewhat automatically administered, so its even possible that we can define a funnel of qualifications an

[2022-09-15 19:43] markwhiting opened #117 "Manage retrieving data from survey infrastructure"
@TutiGomoka — this would be the main area where panel data management would see updates. Instead of using our internal API and database, we would use the turk API to access the latest results and add those to the panel sheets on GitHub.

Once we work out the details of that, I would like it to be a daily action on GitHub, so that we automatically check for new data every day and update the panel a

[2022-09-15 19:52] markwhiting opened #118 "Administer continuous surveys, payments and qualifications for panel"
Assuming we run on turk, we can do a fair amount of auto payment, and possibly auto qualifications (e.g., #116), but occasionally we need to actually post and remove surveys.

For example, we might want to break down and renew our surveys every day so that most of them stay at the top of the turk heap.

This can be done via cron, and could be set up to be done at the same time as data retrieval (#

[2022-09-16 18:00] markwhiting opened #119 "🦾 Turk infrastructure overhall"
We are revisiting the turk infrastructure to be more familiar to workers, more capable of dealing with multiple turk accounts for accounting purposes, and more easy to maintain. A more detailed proposal is here https://github.com/Watts-Lab/surveyor/issues/114 but it's also not final, as we are still testing some aspects and scheduled to speak with CloudResearch to see if their tools can mitigate s

[2022-09-16 18:08] duncanjwatts commented on #119
What happened with AMT threatening to block our account? Why do they not like us running our own surveys?

[2022-09-16 18:09] markwhiting commented on #119
They don't like people managing workers off-platform, which we were doing with our notification system.

[2022-09-16 18:11] JamesPHoughton commented on #119
Yeah, I've had this flagged before just for sending email notifications for normal HITs that point to empirica. Its really opaque to me what it is they care about...

How does turk know what we're doing, other than through worker complaints?

[2022-09-16 18:18] markwhiting commented on #119
As far as I know it's only via complaints, but I guess it could be that they see that you are sending too many notifications and bonuses, and not enough HITs?

[2022-09-23 17:49] #119 closed, assigned to nobody

[2022-09-23 17:54] markwhiting opened #120 "Insight from talking with Cloud Research"
Cloud research provides a possible alternative to our internal panel tool. We met with them to see if it could save us some development time or help us navigate any issues that have been getting in our way.

After meeting with them, I think they provide some interesting tools but have largely not solved any of the harder aspects of what we are doing. For example, they don't have a great solution f

[2022-09-23 18:12] JamesPHoughton commented on #120
I agree that they don't seem to add significantly more value for us. They could be useful for one-off situations that want a large number of participants broken down into groups of 9 or smaller to avoid the MTurk 40% overhead rate.

They have a panel of their own that aims to do what prolific and mturk do, it is small at the moment, and they charge a 25% overhead, and doesn't seem to add much at t

[2022-09-30 17:51] #120 closed, assigned to nobody